{% extends 'base.html.twig' %}

{% block title %}Instruments{% endblock %}

{% block body %}
    {% block menu %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
            <div class="container">
                <a class="navbar-brand" href="{{ path("accueil") }}">Musical</a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="./">Accueil de l'administration
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"> <a class="nav-link" href="{{ path('instruments_new') }}">Ajouter un article</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{{ path('the_logout')}}">Déconnexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <header class="page-heading">
        <div class="container">
            <h1>Instrument - {{ instrument.intitule }}</h1>
        </div>
    </header>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{{ path('instruments_index') }}">Retour à la liste</a></li>
        </ol>
    </div>

    <div class="container">
    <table class="table sb-card">
        <tbody>
            <tr>
                <th>Idinstruments</th>
                <td>{{ instrument.idinstruments }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ instrument.intitule }}</td>
            </tr>
            <tr>
                <th>Ladesc</th>
                <td>{{ instrument.ladesc }}</td>
            </tr>
            <tr>
                <th>Parution</th>
                <td>{{ instrument.parution ? instrument.parution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('instruments_edit', {'idinstruments': instrument.idinstruments}) }}">Modifier</a>

    {{ include('instruments/_delete_form.html.twig') }}
    </div>
{% endblock %}
