{% extends 'template.html.twig' %}
{% block title %}{{ parent() }} - {{ instruments.getIntitule }}{% endblock %}

{% block titre %}{{ parent() }} - {{ instruments.getIntitule }}{% endblock %}
{% block stitre %}Détail de notre article {% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path("accueil") }}">Accueil
                <span class="sr-only">(current)</span>
            </a>
        </li>
        {% for itemMenu in familles %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("detail_famille",{"id":itemMenu.getIdfamilles}) }}">{{ itemMenu.getLintitule }}</a>
            </li>
        {% endfor %}
        <li class="nav-item"> <a class="nav-link" href="{{ path('instruments_index')}}">Admin</a></li>
    </ul>
{% endblock %}
{% block lien1 %}{{ instruments.getIntitule }}{% endblock %}
{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">


                    <div class="card sb-card download-links">
                        <div class="card-body">
                            <h4>
                                {{ instruments.getIntitule }}
                            </h4>
                            <p class="mb-0">
                                {{ instruments.getLadesc|nl2br }}
                            </p>

                        </div>
                    </div>


            </div>
            <div class="col-lg-5">
                <div class="card sb-card download-links">
                    <div class="card-body">
                        <h4>
                            Informations
                        </h4>
                        <p class="mb-0">
                                Par <b>{{ instruments.getRedacteurredacteur.getCname }}</b> <br> le <b>{{ instruments.getParution|date("d/m/Y à H \\h i \\m") }}</b>

                        </p>
                        <ul class="list-inline">
                            {% for categ in instruments.getFamillesfamilles %}
                                <li class="list-inline-item">
                                    <a href="{{ path("detail_famille",{"id":categ.getIdfamilles}) }}" class="btn btn-secondary">
                                        <i class="fab fa-github"></i>
                                        {{ categ.getLintitule }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}