{% extends 'template.html.twig' %}

 {% block titre %}{{ parent() }} - {{ famille.getLintitule }}{% endblock %}
{% block stitre %}{{ famille.getBreve }} {% endblock %}
 {% block menu %}
     <ul class="navbar-nav ml-auto">
         <li class="nav-item">
             <a class="nav-link" href="{{ path("accueil") }}">Accueil
                 <span class="sr-only">(current)</span>
             </a>
         </li>
         {% for itemMenu in familles %}
             {# if current section is selected on this loops'turn #}
             {% if(itemMenu.getIdfamilles == famille.getIdfamilles) %}
                 {# create forActive Twig's local variable#}
                 {% set forActive = "active" %}
             {% else %}
                 {% set forActive = "" %}
             {% endif %}
             <li class="nav-item {{ forActive }}">
                 <a class="nav-link" href="{{ path("detail_famille",{'id':itemMenu.getIdfamilles}) }}">{{ itemMenu.getLintitule }}</a>
             </li>
         {% endfor %}
     </ul>
 {% endblock %}
{% block lien1 %}{{ famille.getLintitule }}{% endblock %}
 {% block contenu %}
     <div class="container">
         <div class="row">
             <div class="col-lg-7">
                 {% for item in instruments %}

                     <div class="card sb-card download-links">
                         <div class="card-body">
                             <h4>
                                 {{ item.getIntitule }}
                             </h4>
                             <p class="mb-0">
                                 {{ item.getLadesc|truncate(350,true) }} <a href="{{ path("detail_instrument",{'id': item.getIdinstruments}) }}">Lire la suite</a>
                             </p>
                             <ul class="list-inline">
                                 {% for categ in item.getFamillesfamilles %}
                                     <li class="list-inline-item">
                                         <a href="{{ path("detail_famille",{"id":categ.getIdfamilles}) }}" class="btn btn-secondary">
                                             <i class="fab fa-github"></i>
                                             {{ categ.getLintitule }}</a>
                                     </li>
                                 {% endfor %}

                             </ul>
                         </div>
                     </div>

                 {% endfor %}
             </div>
             <div class="col-lg-5">
                 <div class="card sb-card download-links">
                     <div class="card-body">
                         <h4>
                            Informations
                         </h4>
                         <p class="mb-0">

                         </p>

                     </div>


                 </div>

             </div>
         </div>
     </div>
 {% endblock %}